#type
    span.units type &nbsp;
    span.value !{type}
#autopilot
    span.units autopilot &nbsp;
    span.value !{autopilot}
#base_mode
    span.units base_mode &nbsp;
    span.value !{base_mode}
#custom_mode
    span.units custom_mode &nbsp;
    span.value !{custom_mode}
#system_status
    span.units system_status &nbsp;
    span.value !{system_status}
#mavlink_version
    span.units mavlink_version &nbsp;
    span.value !{mavlink_version}
