p span.value !{type}&nbsp;

p span.value !{autopilot}&nbsp;

p span.value !{base_mode}&nbsp;

p span.value !{custom_mode}&nbsp;

p span.value !{system_status}&nbsp;

p span.value !{mavlink_version}&nbsp;
